# Final Project: Restaurant Recommander System

## Imports

In [3]:
import pandas as pd
import numpy as np
import yaml
import os
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from scipy.sparse import coo_matrix
from scipy.sparse.linalg import svds
from sklearn.metrics import f1_score

from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

In [4]:
config_file = open("config.yml", "r")
config = yaml.load(config_file, Loader=yaml.FullLoader)
DATA_DIRECTORY = config["DATA_DIRECTORY"]

In [11]:
spark = SparkSession.builder.appName("ALSMatrixFactorisation").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/05/16 14:03:26 WARN Utils: Your hostname, DESKTOP-2FVJM3V resolves to a loopback address: 127.0.1.1; using 192.168.72.224 instead (on interface eth0)
23/05/16 14:03:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/16 14:03:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Chargement des données

In [28]:
spark_order_df = spark.read.option("header", True).csv(
    os.path.join(DATA_DIRECTORY, "orders.csv")
)
spark_order_df.show()

+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
|akeed_order_id|customer_id|item_count|grand_total|payment_mode|promo_code|vendor_discount_amount|promo_code_discount_percentage|is_favorite|is_rated|vendor_rating|driver_rating|deliverydistance|preparationtime|      delivery_time|order_accepted_time|driver_accepted_time|ready_for_pickup_time|picked_up_time|delivered_time|      delivery_date|vendor_id|         created_at|LOCATION_NUMBER|LOCATION_TYPE|CID X LOC_NUM X VENDOR|
+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
|      163238.0|    92PEE24|       1.0|        7.6|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:30:16|              0|         null|     92PEE24 X 0 X 105|
|      163240.0|    QS68UD8|       1.0|        8.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      294|2019-08-01 05:31:10|              0|         Work|     QS68UD8 X 0 X 294|
|      163241.0|    MB7VY5F|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:31:33|              0|         null|      MB7VY5F X 0 X 83|
|      163244.0|    KDJ951Y|       1.0|        7.1|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|2019-08-01 04:03:00|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       90|2019-08-01 05:34:54|              0|         Home|      KDJ951Y X 0 X 90|
|      163245.0|    BAL0RVT|       4.0|       27.2|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:35:51|              0|         Work|      BAL0RVT X 0 X 83|
|      163246.0|    U263OCD|       3.0|       18.2|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:37:05|              0|         Work|      U263OCD X 0 X 83|
|      163247.0|    I9DNSMJ|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:37:17|              0|         Work|     I9DNSMJ X 0 X 105|
|      163248.0|    I9DNSMJ|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:37:23|              0|         Work|     I9DNSMJ X 0 X 105|
|      163250.0|    QYXXJCF|       2.0|        9.2|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 05:38:12|              0|        Other|      QYXXJCF X 0 X 78|
|      163251.0|    52ZNRWH|       5.0|       17.1|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|2019-08-01 04:08:00|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:40:06|              0|         Home|      52ZNRWH X 0 X 83|
|      163252.0|    QQEWRHI|       1.0|        8.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:40:12|              0|        Other|      QQEWRHI X 0 X 83|
|      163253.0|    DRR8CO9|       2.0|       11.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      154|2019-08-01 05:41:06|              0|         Work|     DRR8CO9 X 0 X 154|
|      163254.0|    VJP7GIV|       1.0|        5.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      193|2019-08-01 05:42:25|              0|         Home|     VJP7GIV X 0 X 193|
|      163257.0|    DRR8CO9|       2.0|       11.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      154|2019-08-01 05:48:47|              0|         Work|     DRR8CO9 X 0 X 154|
|      163258.0|    6SJOL5B|       1.0|        3.8|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      193|2019-08-01 05:49:19|              0|         Work|     6SJOL5B X 0 X 193|
|      163261.0|    1HCWZ0H|       2.0|       15.0|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:55:20|              0|         Work|      1HCWZ0H X 0 X 83|
|      163262.0|    G1MZ1IT|       2.0|       11.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:56:26|              0|        Other|      G1MZ1IT X 0 X 83|
|      163263.0|    V27UTM4|       1.0|        4.3|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 05:58:49|              0|         null|      V27UTM4 X 0 X 78|
|      163265.0|    0UW9NTR|       1.0|        4.6|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 06:03:59|              0|         null|      0UW9NTR X 0 X 78|
|      163267.0|    TBOTOCJ|       1.0|        7.3|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|        4|2019-08-01 06:11:15|              0|         Home|       TBOTOCJ X 0 X 4|
+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
only showing top 20 rows

In [31]:
df_ratings = spark_order_df.select("customer_id", "vendor_id", "vendor_rating")
df_ratings.show()

+-----------+---------+-------------+
|customer_id|vendor_id|vendor_rating|
+-----------+---------+-------------+
|    92PEE24|      105|         null|
|    QS68UD8|      294|         null|
|    MB7VY5F|       83|         null|
|    KDJ951Y|       90|         null|
|    BAL0RVT|       83|         null|
|    U263OCD|       83|         null|
|    I9DNSMJ|      105|         null|
|    I9DNSMJ|      105|         null|
|    QYXXJCF|       78|         null|
|    52ZNRWH|       83|         null|
|    QQEWRHI|       83|         null|
|    DRR8CO9|      154|         null|
|    VJP7GIV|      193|         null|
|    DRR8CO9|      154|         null|
|    6SJOL5B|      193|         null|
|    1HCWZ0H|       83|         null|
|    G1MZ1IT|       83|         null|
|    V27UTM4|       78|         null|
|    0UW9NTR|       78|         null|
|    TBOTOCJ|        4|         null|
+-----------+---------+-------------+
only showing top 20 rows

In [32]:
indexer = [
    StringIndexer(inputCol=column, outputCol=column + "_index")
    for column in list(set(df_ratings.columns) - set(["vendor_rating"]))
]
pipeline = Pipeline(stages=indexer)
transformed = pipeline.fit(df_ratings).transform(df_ratings)
transformed.show()

+-----------+---------+-------------+-----------------+---------------+
|customer_id|vendor_id|vendor_rating|customer_id_index|vendor_id_index|
+-----------+---------+-------------+-----------------+---------------+
|    92PEE24|      105|         null|           8754.0|            1.0|
|    QS68UD8|      294|         null|          16336.0|           92.0|
|    MB7VY5F|       83|         null|           9435.0|            5.0|
|    KDJ951Y|       90|         null|          23100.0|           23.0|
|    BAL0RVT|       83|         null|           4428.0|            5.0|
|    U263OCD|       83|         null|           9860.0|            5.0|
|    I9DNSMJ|      105|         null|            200.0|            1.0|
|    I9DNSMJ|      105|         null|            200.0|            1.0|
|    QYXXJCF|       78|         null|          16364.0|            4.0|
|    52ZNRWH|       83|         null|          18884.0|            5.0|
|    QQEWRHI|       83|         null|            703.0|            5.0|
|    DRR8CO9|      154|         null|           7401.0|           48.0|
|    VJP7GIV|      193|         null|           1257.0|           18.0|
|    DRR8CO9|      154|         null|           7401.0|           48.0|
|    6SJOL5B|      193|         null|           5961.0|           18.0|
|    1HCWZ0H|       83|         null|           1148.0|            5.0|
|    G1MZ1IT|       83|         null|           9117.0|            5.0|
|    V27UTM4|       78|         null|           5638.0|            4.0|
|    0UW9NTR|       78|         null|            166.0|            4.0|
|    TBOTOCJ|        4|         null|           5597.0|           10.0|
+-----------+---------+-------------+-----------------+---------------+
only showing top 20 rows

In [5]:
# Données relatives aux commandes des customers aux vendors
order_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "orders.csv"))

# Données des vendeurs(localisation, identifiant)
vendors_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "vendors.csv"))

# Données des clients (date de naissance, ID, genre)
train_customer_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "train_customers.csv"))

# Localisations des clients
train_locations_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "train_locations.csv"))

# Ensemble de tests sur les données des clients
test_customer_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "test_customers.csv"))

# Ensemble de tests sur les localisations des clients
test_locations_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "test_locations.csv"))

/tmp/ipykernel_450/3856822910.py:2: DtypeWarning: Columns (15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  order_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "orders.csv"))

In [7]:
order_with_loc_df = pd.merge(
    order_df[
        ["customer_id", "LOCATION_NUMBER", "vendor_id", "vendor_rating", "is_rated"]
    ],
    train_locations_df,
    left_on=["customer_id", "LOCATION_NUMBER"],
    right_on=["customer_id", "location_number"],
)
order_with_loc_df["is_rated"] = order_with_loc_df["is_rated"].apply(
    lambda b: 1 if b == "Yes" else 0
)
order_with_loc_df["is_rated"] = order_with_loc_df["is_rated"].fillna(0)
order_with_loc_df["vendor_rating"] = order_with_loc_df["vendor_rating"].fillna(0)
order_with_loc_df

,customer_id,LOCATION_NUMBER,vendor_id,vendor_rating,is_rated,location_number,location_type,latitude,longitude
0,92PEE24,0,105,0.0,0,0,NaN,-0.132100,-78.575297
1,92PEE24,0,105,0.0,0,0,NaN,-0.132100,-78.575297
2,92PEE24,0,105,0.0,0,0,NaN,-0.132100,-78.575297
3,QS68UD8,0,294,0.0,0,0,Work,-0.393396,-78.544417
4,MB7VY5F,0,83,0.0,0,0,NaN,-1.072823,-78.464121
...,...,...,...,...,...,...,...,...,...
135298,3S6VG6R,1,199,5.0,1,1,NaN,2.284875,0.717124
135299,ND4PIJL,0,907,0.0,0,0,NaN,13.380083,-1.387421
135300,1NRK5HF,0,105,0.0,0,0,NaN,-0.772600,0.231851
135301,QDXLWM7,1,28,0.0,0,1,NaN,1.751487,0.375234
135302,77KCRC1,4,79,0.0,0,4,NaN,0.477088,0.568612

In [8]:
train_order_df, test_order_df = train_test_split(
    order_with_loc_df, test_size=0.2, random_state=42
)
train_order_df, val_order_df = train_test_split(
    train_order_df, test_size=0.2, random_state=42
)
train_order_df

,customer_id,LOCATION_NUMBER,vendor_id,vendor_rating,is_rated,location_number,location_type,latitude,longitude
121366,5ARTXD7,1,681,5.0,1,1,NaN,-0.036682,-0.069342
63263,JTDL6KB,0,386,0.0,0,0,NaN,-0.492942,0.179312
30695,H9REAWE,0,78,0.0,0,0,Home,-0.025458,-78.587900
80592,7I7SY2D,1,4,0.0,0,1,NaN,0.415142,0.931376
132382,EIA3K80,3,92,0.0,0,3,Other,0.107888,0.596460
...,...,...,...,...,...,...,...,...,...
25191,4QNVW0N,1,176,0.0,0,1,Other,0.141303,-78.607609
35276,NBHJZZB,0,78,0.0,0,0,NaN,0.275762,-78.623499
124517,3I2NFF0,0,289,0.0,0,0,NaN,0.431060,-0.005375
51877,0Z52KAY,1,843,0.0,0,1,NaN,-0.795356,0.082256
127735,60P3H71,0,547,0.0,0,0,Home,0.001642,0.569305

In [9]:
VAL_KEY = "val"
PRED_KEY = "pred"
VALIDATION_KEY = "validation"
TRAIN_KEY = "training"

In [10]:
def generate_comparison_df(train_set, val_set):
    train_set = train_set.rename(columns={PRED_KEY: TRAIN_KEY})
    val_set = val_set.rename(columns={PRED_KEY: VALIDATION_KEY})
    comparison_df = pd.merge(train_set, val_set, on=VAL_KEY)
    return comparison_df


def calculate_f1_score(train_set, val_set):
    df = generate_comparison_df(train_set, val_set)
    true_labels = df[VALIDATION_KEY]
    predicted_labels = df[TRAIN_KEY]

    f1 = f1_score(true_labels, predicted_labels)

    return f1


calculate_f1_score(train_set, val_set)

NameError: name 'train_set' is not defined