# Final Project: Restaurant Recommander System

## Imports

In [163]:
import pandas as pd
import numpy as np
import yaml
import os
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from scipy.sparse import coo_matrix
from scipy.sparse.linalg import svds
from sklearn.metrics import f1_score
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import concat
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

In [103]:
config_file = open("config.yml", "r")
config = yaml.load(config_file, Loader=yaml.FullLoader)
DATA_DIRECTORY = config["DATA_DIRECTORY"]

In [104]:
spark = SparkSession.builder.appName("ALSMatrixFactorisation").getOrCreate()

## Chargement des donn√©es

In [105]:
spark_train_order_df = spark.read.option("header", True).csv(
    os.path.join(DATA_DIRECTORY, "orders.csv")
)
spark_train_order_df.show()

+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
|akeed_order_id|customer_id|item_count|grand_total|payment_mode|promo_code|vendor_discount_amount|promo_code_discount_percentage|is_favorite|is_rated|vendor_rating|driver_rating|deliverydistance|preparationtime|      delivery_time|order_accepted_time|driver_accepted_time|ready_for_pickup_time|picked_up_time|delivered_time|      delivery_date|vendor_id|         created_at|LOCATION_NUMBER|LOCATION_TYPE|CID X LOC_NUM X VENDOR|
+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
|      163238.0|    92PEE24|       1.0|        7.6|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:30:16|              0|         null|     92PEE24 X 0 X 105|
|      163240.0|    QS68UD8|       1.0|        8.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      294|2019-08-01 05:31:10|              0|         Work|     QS68UD8 X 0 X 294|
|      163241.0|    MB7VY5F|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:31:33|              0|         null|      MB7VY5F X 0 X 83|
|      163244.0|    KDJ951Y|       1.0|        7.1|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|2019-08-01 04:03:00|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       90|2019-08-01 05:34:54|              0|         Home|      KDJ951Y X 0 X 90|
|      163245.0|    BAL0RVT|       4.0|       27.2|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:35:51|              0|         Work|      BAL0RVT X 0 X 83|
|      163246.0|    U263OCD|       3.0|       18.2|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:37:05|              0|         Work|      U263OCD X 0 X 83|
|      163247.0|    I9DNSMJ|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:37:17|              0|         Work|     I9DNSMJ X 0 X 105|
|      163248.0|    I9DNSMJ|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:37:23|              0|         Work|     I9DNSMJ X 0 X 105|
|      163250.0|    QYXXJCF|       2.0|        9.2|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 05:38:12|              0|        Other|      QYXXJCF X 0 X 78|
|      163251.0|    52ZNRWH|       5.0|       17.1|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|2019-08-01 04:08:00|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:40:06|              0|         Home|      52ZNRWH X 0 X 83|
|      163252.0|    QQEWRHI|       1.0|        8.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:40:12|              0|        Other|      QQEWRHI X 0 X 83|
|      163253.0|    DRR8CO9|       2.0|       11.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      154|2019-08-01 05:41:06|              0|         Work|     DRR8CO9 X 0 X 154|
|      163254.0|    VJP7GIV|       1.0|        5.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      193|2019-08-01 05:42:25|              0|         Home|     VJP7GIV X 0 X 193|
|      163257.0|    DRR8CO9|       2.0|       11.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      154|2019-08-01 05:48:47|              0|         Work|     DRR8CO9 X 0 X 154|
|      163258.0|    6SJOL5B|       1.0|        3.8|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      193|2019-08-01 05:49:19|              0|         Work|     6SJOL5B X 0 X 193|
|      163261.0|    1HCWZ0H|       2.0|       15.0|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:55:20|              0|         Work|      1HCWZ0H X 0 X 83|
|      163262.0|    G1MZ1IT|       2.0|       11.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:56:26|              0|        Other|      G1MZ1IT X 0 X 83|
|      163263.0|    V27UTM4|       1.0|        4.3|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 05:58:49|              0|         null|      V27UTM4 X 0 X 78|
|      163265.0|    0UW9NTR|       1.0|        4.6|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 06:03:59|              0|         null|      0UW9NTR X 0 X 78|
|      163267.0|    TBOTOCJ|       1.0|        7.3|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|        4|2019-08-01 06:11:15|              0|         Home|       TBOTOCJ X 0 X 4|
+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
only showing top 20 rows

In [106]:
CUSTOMER_KEY = "CID x LOC_NUM"
df_ratings = spark_train_order_df.withColumn(
    "CID x LOC_NUM",
    concat(
        spark_train_order_df["customer_id"],
        lit(" X "),
        spark_train_order_df["LOCATION_NUMBER"],
    ),
)
df_ratings = df_ratings.select(
    "customer_id", "vendor_id", "vendor_rating", "LOCATION_NUMBER", "CID x LOC_NUM"
).where(col("is_rated") == "Yes")

df_ratings.show()

+-----------+---------+-------------+---------------+-------------+
|customer_id|vendor_id|vendor_rating|LOCATION_NUMBER|CID x LOC_NUM|
+-----------+---------+-------------+---------------+-------------+
|    OH64IO0|      310|          5.0|              0|  OH64IO0 X 0|
|    FCPLE31|      157|          5.0|              0|  FCPLE31 X 0|
|    WB681BO|      271|          4.0|              0|  WB681BO X 0|
|    FS229TW|      157|          4.0|              0|  FS229TW X 0|
|    3P9113W|       85|          5.0|              0|  3P9113W X 0|
|    WB681BO|       90|          5.0|              0|  WB681BO X 0|
|    AA31G37|       85|          5.0|              0|  AA31G37 X 0|
|    E4ZWBIY|       83|          5.0|              0|  E4ZWBIY X 0|
|    Y8OGZS1|      196|          2.0|              0|  Y8OGZS1 X 0|
|    I3DAUFL|      300|          1.0|              0|  I3DAUFL X 0|
|    8BZR1IV|       33|          5.0|              0|  8BZR1IV X 0|
|    5O4E3Z3|       92|          4.0|              0|  5O4E3Z3 X 0|
|    8PKVPJV|      195|          5.0|              0|  8PKVPJV X 0|
|    BNKRJ0E|      193|          5.0|              0|  BNKRJ0E X 0|
|    A9EZUO7|      113|          5.0|              0|  A9EZUO7 X 0|
|    BLDGNI4|      106|          3.0|              0|  BLDGNI4 X 0|
|    CV7TAV2|       75|          5.0|              0|  CV7TAV2 X 0|
|    FWNWSYH|       81|          5.0|              0|  FWNWSYH X 0|
|    10A2LDQ|      148|          5.0|              0|  10A2LDQ X 0|
|    QSBN2T0|      113|          5.0|              0|  QSBN2T0 X 0|
+-----------+---------+-------------+---------------+-------------+
only showing top 20 rows

In [107]:
df_ratings.count()

20109

In [108]:
indexer = [
    StringIndexer(inputCol=column, outputCol=column + "_index")
    for column in list(set(df_ratings.columns) - set(["vendor_rating"]))
]

pipeline = Pipeline(stages=indexer)
transformed = pipeline.fit(df_ratings).transform(df_ratings)
transformed = transformed.withColumn(
    "vendor_rating", transformed["vendor_rating"].cast("float")
)
transformed = transformed.withColumn(
    "vendor_id_index", transformed["vendor_id_index"].cast("float")
)
transformed.show(5)

+-----------+---------+-------------+---------------+-------------+---------------+-----------------+-------------------+---------------------+
|customer_id|vendor_id|vendor_rating|LOCATION_NUMBER|CID x LOC_NUM|vendor_id_index|customer_id_index|CID x LOC_NUM_index|LOCATION_NUMBER_index|
+-----------+---------+-------------+---------------+-------------+---------------+-----------------+-------------------+---------------------+
|    OH64IO0|      310|          5.0|              0|  OH64IO0 X 0|           30.0|           6380.0|             7444.0|                  0.0|
|    FCPLE31|      157|          5.0|              0|  FCPLE31 X 0|           31.0|           5302.0|             5957.0|                  0.0|
|    WB681BO|      271|          4.0|              0|  WB681BO X 0|           71.0|           3354.0|             3331.0|                  0.0|
|    FS229TW|      157|          4.0|              0|  FS229TW X 0|           31.0|           2695.0|             6019.0|                  0.0|
|    3P9113W|       85|          5.0|              0|  3P9113W X 0|           82.0|           3935.0|             4092.0|                  0.0|
+-----------+---------+-------------+---------------+-------------+---------------+-----------------+-------------------+---------------------+
only showing top 5 rows

In [109]:
(training, validation) = transformed.randomSplit([0.8, 0.2], seed=16)

In [110]:
customer_index_key = f"{CUSTOMER_KEY}_index"
als = ALS(
    maxIter=15,
    regParam=0.09,
    rank=25,
    userCol=customer_index_key,
    itemCol="vendor_id_index",
    ratingCol="vendor_rating",
    coldStartStrategy="drop",
    nonnegative=True,
)

model = als.fit(training)

In [111]:
evaluator = RegressionEvaluator(
    metricName="rmse", labelCol="vendor_rating", predictionCol="prediction"
)

predictions = model.transform(validation)
rmse = evaluator.evaluate(predictions)

print("RMSE=" + str(rmse))
predictions.orderBy(col("prediction").desc()).show()

RMSE=1.2277909803242675

+-----------+---------+-------------+---------------+-------------+---------------+-----------------+-------------------+---------------------+----------+
|customer_id|vendor_id|vendor_rating|LOCATION_NUMBER|CID x LOC_NUM|vendor_id_index|customer_id_index|CID x LOC_NUM_index|LOCATION_NUMBER_index|prediction|
+-----------+---------+-------------+---------------+-------------+---------------+-----------------+-------------------+---------------------+----------+
|    PO53F9X|      115|          5.0|              1|  PO53F9X X 1|           86.0|            170.0|              123.0|                  1.0| 5.4733167|
|    ICN6274|      216|          5.0|              4|  ICN6274 X 4|           32.0|            283.0|              567.0|                  4.0| 5.1940565|
|    E5GIQ6X|       90|          5.0|              0|  E5GIQ6X X 0|           27.0|            833.0|              711.0|                  0.0| 5.1843333|
|    3CS6P25|      159|          5.0|              2|  3CS6P25 X 2|           10.0|            152.0|              389.0|                  2.0|  5.182019|
|    JHLR9GG|      298|          5.0|              4|  JHLR9GG X 4|           38.0|             70.0|               47.0|                  4.0| 5.1087155|
|    T1F5SV5|       92|          5.0|              3|  T1F5SV5 X 3|           26.0|             84.0|               50.0|                  3.0| 5.1017137|
|    KZK4XF8|      188|          5.0|              3|  KZK4XF8 X 3|           41.0|             72.0|               48.0|                  3.0| 5.0546875|
|    W4TMTEZ|       92|          5.0|              5|  W4TMTEZ X 5|           26.0|             20.0|              158.0|                  5.0|  5.042478|
|    X9W8FDK|       90|          5.0|              0|  X9W8FDK X 0|           27.0|            463.0|              373.0|                  0.0|  5.033034|
|    LH12F3R|      295|          5.0|              1|  LH12F3R X 1|           61.0|            101.0|               69.0|                  1.0|  5.031212|
|    U31BNUR|      303|          5.0|              3|  U31BNUR X 3|           77.0|              5.0|               13.0|                  3.0| 5.0215774|
|    K4TH4B4|      298|          5.0|              1|  K4TH4B4 X 1|           38.0|             81.0|               93.0|                  1.0|  5.017478|
|    K4TH4B4|      298|          5.0|              1|  K4TH4B4 X 1|           38.0|             81.0|               93.0|                  1.0|  5.017478|
|    PO53F9X|      401|          5.0|              1|  PO53F9X X 1|           49.0|            170.0|              123.0|                  1.0|  5.015631|
|    PE6749L|      188|          5.0|              1|  PE6749L X 1|           41.0|            549.0|              593.0|                  1.0|  5.014504|
|    LH12F3R|      159|          3.0|              1|  LH12F3R X 1|           10.0|            101.0|               69.0|                  1.0| 5.0138936|
|    AECD3LL|      303|          5.0|              4|  AECD3LL X 4|           77.0|            224.0|              330.0|                  4.0|  5.011879|
|    6ZATWUE|      243|          5.0|              0|  6ZATWUE X 0|           90.0|            114.0|              519.0|                  0.0|  5.007676|
|    T3KF31M|      188|          5.0|              2|  T3KF31M X 2|           41.0|           1306.0|             1161.0|                  2.0|   4.99929|
|    KZK4XF8|      298|          5.0|              3|  KZK4XF8 X 3|           38.0|             72.0|               48.0|                  3.0| 4.9982114|
+-----------+---------+-------------+---------------+-------------+---------------+-----------------+-------------------+---------------------+----------+
only showing top 20 rows

In [112]:
recs = model.recommendForAllUsers(20).toPandas()
recs

      CID x LOC_NUM_index                                    recommendations
0                      26  [(15, 4.467200756072998), (6, 3.15623736381530...
1                      27  [(78, 4.825118064880371), (77, 4.7193622589111...
2                      28  [(95, 5.924435615539551), (77, 5.4620547294616...
3                      31  [(68, 4.956910133361816), (96, 4.8654012680053...
4                      34  [(95, 5.558813571929932), (77, 5.2261157035827...
...                   ...                                                ...
8067                 9244  [(46, 1.9638583660125732), (95, 1.708905458450...
8068                 9250  [(59, 4.902221202850342), (90, 4.2612195014953...
8069                 9261  [(90, 5.0758442878723145), (98, 5.028432846069...
8070                 9266  [(95, 3.924290657043457), (0, 3.91345810890197...
8071                 9308  [(22, 3.921128511428833), (90, 3.7986638545989...

[8072 rows x 2 columns]

In [113]:
df_recs = (
    recs.recommendations.apply(pd.Series)
    .merge(recs, right_index=True, left_index=True)
    .drop(["recommendations"], axis=1)
    .melt(id_vars=[customer_index_key], value_name="recommendation")
    .drop("variable", axis=1)
    .dropna()
)
df_recs.head()

   CID x LOC_NUM_index           recommendation
0                   26  (15, 4.467200756072998)
1                   27  (78, 4.825118064880371)
2                   28  (95, 5.924435615539551)
3                   31  (68, 4.956910133361816)
4                   34  (95, 5.558813571929932)

In [114]:
df_recs = df_recs.sort_values(customer_index_key)
df_recs = pd.concat(
    [df_recs["recommendation"].apply(pd.Series), df_recs[customer_index_key]], axis=1
)

In [115]:
df_recs.columns = [
    "vendor_id_index",
    "rating",
    customer_index_key,
]
tmp = transformed.select(
    transformed[CUSTOMER_KEY],
    transformed[customer_index_key],
    transformed["vendor_id"],
    transformed["vendor_id_index"],
)
tmp = tmp.toPandas()

In [116]:
dict1 = dict(zip(tmp[customer_index_key], tmp[CUSTOMER_KEY]))
dict2 = dict(zip(tmp["vendor_id_index"], tmp["vendor_id"]))
df_recs_copy = df_recs.copy()
df_recs_copy.loc[:, CUSTOMER_KEY] = df_recs[customer_index_key].map(dict1)
df_recs_copy.loc[:, "vendor_id"] = df_recs["vendor_id_index"].map(dict2)
df_recs_copy = df_recs_copy.sort_values(CUSTOMER_KEY)
df_recs_copy.reset_index(drop=True, inplace=True)

In [117]:
new = df_recs_copy[[CUSTOMER_KEY, "vendor_id", "rating"]]
new["recommendations"] = list(zip(new.vendor_id, new.rating))

res = new[[CUSTOMER_KEY, "recommendations"]]

/tmp/ipykernel_12679/1335006208.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new["recommendations"] = list(zip(new.vendor_id, new.rating))

     CID x LOC_NUM                                    recommendations
0      00HWUU3 X 1  [(401, 4.2503814697265625), (13, 4.16069316864...
1      00OT8JX X 3  [(250, 4.7334699630737305), (115, 4.8346729278...
2      00OT8JX X 4  [(176, 4.80129337310791), (104, 4.807033538818...
3      010DVV3 X 0  [(85, 3.5217103958129883), (271, 3.73131346702...
4      018GT0H X 2  [(23, 4.056676864624023), (295, 3.930625677108...
...            ...                                                ...
8067   ZZJSJYC X 0  [(271, 5.021329879760742), (85, 5.007611751556...
8068   ZZJX0AR X 0  [(265, 4.1821770668029785), (85, 4.12745428085...
8069   ZZP5BHU X 0  [(23, 3.4059560298919678), (310, 3.37825155258...
8070   ZZRJABJ X 2  [(82, 4.156928062438965), (115, 4.724563598632...
8071   ZZY3N0D X 1  [(294, 5.369583606719971), (13, 5.132056236267...

[8072 rows x 2 columns]

In [155]:
recommandation_df = (
    res["recommendations"].groupby([res[CUSTOMER_KEY]]).apply(list).reset_index()
)
recommandation_df[CUSTOMER_KEY] = recommandation_df[CUSTOMER_KEY].astype(str)
recommandation_df = recommandation_df.explode("recommendations")

# On g√©n√®re une dataframe sous forme de liste de couples vendeur/client avec la note calcul√©e pour chacun
recommandation_df["recommanded_vendor"] = recommandation_df["recommendations"].apply(
    lambda x: x[0]
)
recommandation_df["rating"] = recommandation_df["recommendations"].apply(lambda x: x[1])
recommandation_df = recommandation_df.drop(["recommendations"], axis=1)

# On plafonne les notes calcul√©es √† 5
recommandation_df["rating"] = recommandation_df["rating"].apply(
    lambda x: 5 if x >= 5 else x
)

# On introduit le LOC NUM
recommandation_df.sort_values(by="rating", ascending=False).head()
recommandation_df.describe()
split_col = lambda s: s.split(" X ")

recommandation_df["CID x LOC_NUM"] = recommandation_df["CID x LOC_NUM"].apply(split_col)
recommandation_df["customer_id"] = recommandation_df["CID x LOC_NUM"].apply(
    lambda x: x[0]
)
recommandation_df["LOCATION_NUMBER"] = recommandation_df["CID x LOC_NUM"].apply(
    lambda x: x[1]
)


recommandation_df = recommandation_df.drop("CID x LOC_NUM", axis=1)
recommandation_df = recommandation_df.reindex(
    columns=["customer_id", "LOCATION_NUMBER", "recommanded_vendor", "rating"]
)
recommandation_df.head()
recommandation_df = recommandation_df.astype({"LOCATION_NUMBER": int})

In [156]:
recommandation_df.to_csv(os.path.join(DATA_DIRECTORY, "recommandation.csv"))
recommandation_df.dtypes

customer_id            object
LOCATION_NUMBER         int64
recommanded_vendor     object
rating                float64
dtype: object

KMeans Clustering

In [157]:
# Charger votre dataframe avec les colonnes latitude et longitude (supposons que le dataframe s'appelle 'df')
# df = ...

# S√©lectionner les colonnes latitude et longitude
train_locations_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "train_locations.csv"))
train_locations_df = train_locations_df.dropna()
data = train_locations_df[["latitude", "longitude"]].copy()
train_locations_df = train_locations_df.rename(
    columns={"location_number": "LOCATION_NUMBER"}
)
# Sp√©cifier le nombre de clusters que vous souhaitez obtenir
k = 6

# Cr√©er une instance de l'algorithme K-Means
kmeans = KMeans(n_clusters=k)

# Appliquer l'algorithme aux donn√©es
kmeans.fit(data)

# Obtenir les √©tiquettes de cluster pour chaque point
labels = kmeans.labels_

# Ajouter les √©tiquettes de cluster √† votre dataframe
train_locations_df["cluster_label"] = labels.copy()

train_locations_df.head()

/home/bastien/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,customer_id,LOCATION_NUMBER,location_type,latitude,longitude,cluster_label
3,RU43CXC,0,Home,0.100853,0.438165,0
8,PB2B28D,0,Home,2.575605,0.708270,0
9,U9YKW1T,0,Work,0.100017,0.004357,0
14,4YWW8U8,1,Home,-0.575556,0.236555,0
15,393VD80,0,Home,-0.245396,-78.561908,1

In [159]:
recommandation_with_cluster = pd.merge(recommandation_df, train_locations_df)

recommandation_with_cluster.head()

,customer_id,LOCATION_NUMBER,recommanded_vendor,rating,location_type,latitude,longitude,cluster_label
0,00HWUU3,1,401,4.250381,Home,-1.117296,0.103313,0
1,00HWUU3,1,13,4.160693,Home,-1.117296,0.103313,0
2,00HWUU3,1,298,4.226124,Home,-1.117296,0.103313,0
3,00HWUU3,1,577,4.471765,Home,-1.117296,0.103313,0
4,00HWUU3,1,55,4.227818,Home,-1.117296,0.103313,0

In [176]:
X_train = recommandation_with_cluster[["latitude", "longitude"]]
y_train = recommandation_with_cluster["cluster_label"]

knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=6)

In [177]:
vendors_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "vendors.csv"))
test_locations_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "test_locations.csv"))
vendors_df["cluster_label"] = knn.predict(vendors_df[["latitude", "longitude"]])

In [311]:
test_locations_df = test_locations_df.dropna()
test_locations_df.head()

   customer_id  location_number location_type  latitude  longitude
1      0JP29SK                0          Home  0.278709 -78.623847
2      0JP29SK                1          Home  0.124485 -78.605621
7      0JP29SK                6          Home  0.123710   0.457748
9      D1CUMM9                0          Home -0.090105 -78.580260
10     D1CUMM9                1          Home -0.460103 -78.536533

In [312]:
test_locations_df["cluster_label"] = knn.predict(
    test_locations_df[["latitude", "longitude"]]
)

In [313]:
test_locations_df.head()

,customer_id,location_number,location_type,latitude,longitude,cluster_label
1,0JP29SK,0,Home,0.278709,-78.623847,1
2,0JP29SK,1,Home,0.124485,-78.605621,1
7,0JP29SK,6,Home,0.123710,0.457748,0
9,D1CUMM9,0,Home,-0.090105,-78.580260,1
10,D1CUMM9,1,Home,-0.460103,-78.536533,1

Faire en sorte de recommander selon le cluster des `customer_id`:

In [315]:
from functools import partial


def get_restaurant_suggestion(
    test_locations_df, cluster_label, recommandation_with_cluster, min_rating=3.9
):
    df = recommandation_with_cluster[
        (recommandation_with_cluster["cluster_label"] == cluster_label)
    ]
    df = df.groupby("recommanded_vendor")[["rating"]].mean()
    df = df[df["rating"] >= min_rating]
    df = df.reset_index()
    df["recommanded_vendor"] = df["recommanded_vendor"].astype(int)
    return df.values[:5]


suggestions_func = partial(
    get_restaurant_suggestion,
    test_locations_df=test_locations_df,
    recommandation_with_cluster=recommandation_with_cluster,
)
suggestions_func(cluster_label=1)

array([[113.        ,   4.36900194],
       [195.        ,   4.60990481],
       [225.        ,   4.89424133],
       [299.        ,   3.9169116 ],
       [ 33.        ,   3.91754552]])

In [316]:
u = lambda row: suggestions_func(cluster_label=row["cluster_label"])

In [ ]:
test_locations_df["recommandations_list"] = test_locations_df.apply(u, axis=1)

In [319]:
len(test_locations_df)

9070

In [296]:
test_locations_df = test_locations_df.explode("recommandations_list")

In [298]:
test_locations_df["vendor_id"] = test_locations_df["recommandations_list"].apply(
    lambda x: x[0]
)

In [ ]:
test_locations_df["CID X LOC_NUM X VENDOR"] = (
    test_locations_df["customer_id"]
    + " X "
    + test_locations_df["location_number"].astype(str)
    + " X "
    + test_locations_df["vendor_id"].astype(int).astype(str)
)
test_locations_df["target"] = 1
submission_df = test_locations_df[["CID X LOC_NUM X VENDOR", "target"]]

In [321]:
submission_df.to_csv(os.path.join(DATA_DIRECTORY, "SampleSubmission.csv"))