# Final Project: Restaurant Recommander System

## Imports

In [1]:
import pandas as pd
import numpy as np
import yaml
import os
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from scipy.sparse import coo_matrix
from scipy.sparse.linalg import svds
from sklearn.metrics import f1_score
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from pyspark.sql.functions import concat
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

In [3]:
config_file = open("config.yml", "r")
config = yaml.load(config_file, Loader=yaml.FullLoader)
DATA_DIRECTORY = config["DATA_DIRECTORY"]

## Analyse de données

Pour pouvoir déterminer à quel client nous allons recommander un restaurant. Nous allons d'abbord prédire les notes que ces derniers peuvent attribuer. Nous allons donc nous tourner vers l'algorithme ALS pour factoriser des matrices.

### Manipulation avec Spark

In [3]:
spark = SparkSession.builder.appName("ALSMatrixFactorisation").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/17 20:16:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

**Chargement des données**

Nous allons ici récupérer le CSV qui contient l'historique des commandes des clients mais aussi les notes potentielles qu'ils peuvent attribuer aux restaurants.

In [4]:
spark_train_order_df = spark.read.option("header", True).csv(
    os.path.join(DATA_DIRECTORY, "orders.csv")
)
spark_train_order_df.show()

23/05/17 20:16:36 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
|akeed_order_id|customer_id|item_count|grand_total|payment_mode|promo_code|vendor_discount_amount|promo_code_discount_percentage|is_favorite|is_rated|vendor_rating|driver_rating|deliverydistance|preparationtime|      delivery_time|order_accepted_time|driver_accepted_time|ready_for_pickup_time|picked_up_time|delivered_time|      delivery_date|vendor_id|         created_at|LOCATION_NUMBER|LOCATION_TYPE|CID X LOC_NUM X VENDOR|
+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
|      163238.0|    92PEE24|       1.0|        7.6|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:30:16|              0|         null|     92PEE24 X 0 X 105|
|      163240.0|    QS68UD8|       1.0|        8.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      294|2019-08-01 05:31:10|              0|         Work|     QS68UD8 X 0 X 294|
|      163241.0|    MB7VY5F|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:31:33|              0|         null|      MB7VY5F X 0 X 83|
|      163244.0|    KDJ951Y|       1.0|        7.1|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|2019-08-01 04:03:00|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       90|2019-08-01 05:34:54|              0|         Home|      KDJ951Y X 0 X 90|
|      163245.0|    BAL0RVT|       4.0|       27.2|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:35:51|              0|         Work|      BAL0RVT X 0 X 83|
|      163246.0|    U263OCD|       3.0|       18.2|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:37:05|              0|         Work|      U263OCD X 0 X 83|
|      163247.0|    I9DNSMJ|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:37:17|              0|         Work|     I9DNSMJ X 0 X 105|
|      163248.0|    I9DNSMJ|       2.0|       14.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      105|2019-08-01 05:37:23|              0|         Work|     I9DNSMJ X 0 X 105|
|      163250.0|    QYXXJCF|       2.0|        9.2|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 05:38:12|              0|        Other|      QYXXJCF X 0 X 78|
|      163251.0|    52ZNRWH|       5.0|       17.1|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|2019-08-01 04:08:00|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:40:06|              0|         Home|      52ZNRWH X 0 X 83|
|      163252.0|    QQEWRHI|       1.0|        8.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:40:12|              0|        Other|      QQEWRHI X 0 X 83|
|      163253.0|    DRR8CO9|       2.0|       11.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      154|2019-08-01 05:41:06|              0|         Work|     DRR8CO9 X 0 X 154|
|      163254.0|    VJP7GIV|       1.0|        5.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      193|2019-08-01 05:42:25|              0|         Home|     VJP7GIV X 0 X 193|
|      163257.0|    DRR8CO9|       2.0|       11.4|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      154|2019-08-01 05:48:47|              0|         Work|     DRR8CO9 X 0 X 154|
|      163258.0|    6SJOL5B|       1.0|        3.8|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|      193|2019-08-01 05:49:19|              0|         Work|     6SJOL5B X 0 X 193|
|      163261.0|    1HCWZ0H|       2.0|       15.0|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:55:20|              0|         Work|      1HCWZ0H X 0 X 83|
|      163262.0|    G1MZ1IT|       2.0|       11.7|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       83|2019-08-01 05:56:26|              0|        Other|      G1MZ1IT X 0 X 83|
|      163263.0|    V27UTM4|       1.0|        4.3|           2|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 05:58:49|              0|         null|      V27UTM4 X 0 X 78|
|      163265.0|    0UW9NTR|       1.0|        4.6|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|       78|2019-08-01 06:03:59|              0|         null|      0UW9NTR X 0 X 78|
|      163267.0|    TBOTOCJ|       1.0|        7.3|           1|      null|                   0.0|                          null|       null|      No|         null|          0.0|             0.0|           null|               null|               null|                null|                 null|          null|          null|2019-07-31 05:30:00|        4|2019-08-01 06:11:15|              0|         Home|       TBOTOCJ X 0 X 4|
+--------------+-----------+----------+-----------+------------+----------+----------------------+------------------------------+-----------+--------+-------------+-------------+----------------+---------------+-------------------+-------------------+--------------------+---------------------+--------------+--------------+-------------------+---------+-------------------+---------------+-------------+----------------------+
only showing top 20 rows

On va ici utiliser `CID x LOC_NUM` en tant que clé des user et `vendor_id` en tant que clé des items

In [5]:
CUSTOMER_KEY = "CID x LOC_NUM"
df_ratings = spark_train_order_df.withColumn(
    "CID x LOC_NUM",
    concat(
        spark_train_order_df["customer_id"],
        lit(" X "),
        spark_train_order_df["LOCATION_NUMBER"],
    ),
)
df_ratings = df_ratings.select(
    "customer_id", "vendor_id", "vendor_rating", "LOCATION_NUMBER", "CID x LOC_NUM"
).where(col("is_rated") == "Yes")

df_ratings.show()

+-----------+---------+-------------+---------------+-------------+
|customer_id|vendor_id|vendor_rating|LOCATION_NUMBER|CID x LOC_NUM|
+-----------+---------+-------------+---------------+-------------+
|    OH64IO0|      310|          5.0|              0|  OH64IO0 X 0|
|    FCPLE31|      157|          5.0|              0|  FCPLE31 X 0|
|    WB681BO|      271|          4.0|              0|  WB681BO X 0|
|    FS229TW|      157|          4.0|              0|  FS229TW X 0|
|    3P9113W|       85|          5.0|              0|  3P9113W X 0|
|    WB681BO|       90|          5.0|              0|  WB681BO X 0|
|    AA31G37|       85|          5.0|              0|  AA31G37 X 0|
|    E4ZWBIY|       83|          5.0|              0|  E4ZWBIY X 0|
|    Y8OGZS1|      196|          2.0|              0|  Y8OGZS1 X 0|
|    I3DAUFL|      300|          1.0|              0|  I3DAUFL X 0|
|    8BZR1IV|       33|          5.0|              0|  8BZR1IV X 0|
|    5O4E3Z3|       92|          4.0|              0|  5O4E3Z3 X 0|
|    8PKVPJV|      195|          5.0|              0|  8PKVPJV X 0|
|    BNKRJ0E|      193|          5.0|              0|  BNKRJ0E X 0|
|    A9EZUO7|      113|          5.0|              0|  A9EZUO7 X 0|
|    BLDGNI4|      106|          3.0|              0|  BLDGNI4 X 0|
|    CV7TAV2|       75|          5.0|              0|  CV7TAV2 X 0|
|    FWNWSYH|       81|          5.0|              0|  FWNWSYH X 0|
|    10A2LDQ|      148|          5.0|              0|  10A2LDQ X 0|
|    QSBN2T0|      113|          5.0|              0|  QSBN2T0 X 0|
+-----------+---------+-------------+---------------+-------------+
only showing top 20 rows

On applique une transformation pour garder les index de nos colonnes `CID x LOC_NUM` et `vendor_id`.

In [ ]:
indexer = [
    StringIndexer(inputCol=column, outputCol=column + "_index")
    for column in list(set(df_ratings.columns) - set(["vendor_rating"]))
]

pipeline = Pipeline(stages=indexer)
transformed = pipeline.fit(df_ratings).transform(df_ratings)
transformed = transformed.withColumn(
    "vendor_rating", transformed["vendor_rating"].cast("float")
)
transformed = transformed.withColumn(
    "vendor_id_index", transformed["vendor_id_index"].cast("float")
)
transformed.show(5)

On applique notre entrainement et on crée des `training` et `validation` sets.

In [ ]:
(training, validation) = transformed.randomSplit([0.8, 0.2], seed=16)
customer_index_key = f"{CUSTOMER_KEY}_index"
als = ALS(
    maxIter=15,
    regParam=0.09,
    rank=25,
    userCol=customer_index_key,
    itemCol="vendor_id_index",
    ratingCol="vendor_rating",
    coldStartStrategy="drop",
    nonnegative=True,
)

model = als.fit(training)

On applique une évaluation de notre modèle

In [10]:
evaluator = RegressionEvaluator(
    metricName="rmse", labelCol="vendor_rating", predictionCol="prediction"
)

predictions = model.transform(validation)
rmse = evaluator.evaluate(predictions)

print("RMSE=" + str(rmse))
predictions.orderBy(col("prediction").desc()).show()

RMSE=1.2295336813077355

+-----------+---------+-------------+---------------+-------------+---------------------+-----------------+-------------------+---------------+----------+
|customer_id|vendor_id|vendor_rating|LOCATION_NUMBER|CID x LOC_NUM|LOCATION_NUMBER_index|customer_id_index|CID x LOC_NUM_index|vendor_id_index|prediction|
+-----------+---------+-------------+---------------+-------------+---------------------+-----------------+-------------------+---------------+----------+
|    PO53F9X|      115|          5.0|              1|  PO53F9X X 1|                  1.0|            170.0|              123.0|           86.0|  5.548597|
|    XZBMB2C|       92|          5.0|              0|  XZBMB2C X 0|                  0.0|            728.0|              626.0|           26.0|  5.195858|
|    PO53F9X|      401|          5.0|              1|  PO53F9X X 1|                  1.0|            170.0|              123.0|           49.0| 5.1810985|
|    T1F5SV5|       92|          5.0|              3|  T1F5SV5 X 3|                  3.0|             84.0|               50.0|           26.0|  5.172952|
|    R3YS9DG|      216|          5.0|              0|  R3YS9DG X 0|                  0.0|             63.0|               36.0|           32.0| 5.1131544|
|    KZK4XF8|      188|          5.0|              3|  KZK4XF8 X 3|                  3.0|             72.0|               48.0|           41.0| 5.0984187|
|    J91BLFB|      259|          1.0|              0|  J91BLFB X 0|                  0.0|             39.0|               28.0|           72.0|  5.065778|
|    3CS6P25|      159|          5.0|              2|  3CS6P25 X 2|                  2.0|            152.0|              389.0|           10.0|  5.065052|
|    ICN6274|      216|          5.0|              4|  ICN6274 X 4|                  4.0|            283.0|              567.0|           32.0| 5.0586824|
|    U69KXRD|      679|          5.0|              1|  U69KXRD X 1|                  1.0|            214.0|              156.0|           16.0| 5.0335383|
|    YY6U5WO|      160|          5.0|              1|  YY6U5WO X 1|                  1.0|            380.0|              478.0|           43.0| 5.0277023|
|    W4TMTEZ|       92|          5.0|              5|  W4TMTEZ X 5|                  5.0|             20.0|              158.0|           26.0| 5.0235333|
|    LH12F3R|      295|          5.0|              1|  LH12F3R X 1|                  1.0|            101.0|               69.0|           61.0| 5.0116277|
|    K4TH4B4|      298|          5.0|              1|  K4TH4B4 X 1|                  1.0|             81.0|               93.0|           38.0| 5.0096965|
|    K4TH4B4|      298|          5.0|              1|  K4TH4B4 X 1|                  1.0|             81.0|               93.0|           38.0| 5.0096965|
|    U31BNUR|      303|          5.0|              3|  U31BNUR X 3|                  3.0|              5.0|               13.0|           77.0|  5.009157|
|    AECD3LL|      303|          5.0|              4|  AECD3LL X 4|                  4.0|            224.0|              330.0|           77.0|   5.00892|
|    9AU5OBD|      386|          5.0|              0|  9AU5OBD X 0|                  0.0|             66.0|              109.0|            4.0|  4.998936|
|    2JJAO46|      298|          5.0|              2|  2JJAO46 X 2|                  2.0|              1.0|               10.0|           38.0| 4.9971447|
|    ZZ07CB3|      188|          5.0|              0|  ZZ07CB3 X 0|                  0.0|            577.0|              482.0|           41.0| 4.9947944|
+-----------+---------+-------------+---------------+-------------+---------------------+-----------------+-------------------+---------------+----------+
only showing top 20 rows

On cherche les 20 restaurants à recommander à chaque `user`

In [11]:
recs = model.recommendForAllUsers(20).toPandas()
recs

      CID x LOC_NUM_index                                    recommendations
0                      26  [(15, 4.453946113586426), (50, 3.2801349163055...
1                      27  [(78, 4.840857028961182), (86, 4.7396020889282...
2                      28  [(90, 5.592973709106445), (95, 5.3681344985961...
3                      31  [(95, 4.926567077636719), (69, 4.8624315261840...
4                      34  [(77, 5.177370548248291), (95, 5.1696462631225...
...                   ...                                                ...
8067                 9244  [(46, 1.9630740880966187), (90, 1.765200614929...
8068                 9250  [(59, 4.904534339904785), (95, 4.5978565216064...
8069                 9261  [(95, 5.113649368286133), (5, 4.89529514312744...
8070                 9266  [(90, 4.332350730895996), (95, 4.1721606254577...
8071                 9308  [(22, 3.9214353561401367), (95, 3.888810396194...

[8072 rows x 2 columns]

On a donc un Datarame comme ceci

| Client x num_localisation  | liste de couple (restaurant x note prédite) |   
| -- | -- |

On souhaite avoir un Datarame comme celui-là:
| Client | num_localisation  | restaurant | note prédite  |   
| -- | -- | -- |  -- |

### Transformation vers Pandas

In [12]:
df_recs = (
    recs.recommendations.apply(pd.Series)
    .merge(recs, right_index=True, left_index=True)
    .drop(["recommendations"], axis=1)
    .melt(id_vars=[customer_index_key], value_name="recommendation")
    .drop("variable", axis=1)
    .dropna()
)
df_recs.head()

   CID x LOC_NUM_index           recommendation
0                   26  (15, 4.453946113586426)
1                   27  (78, 4.840857028961182)
2                   28  (90, 5.592973709106445)
3                   31  (95, 4.926567077636719)
4                   34  (77, 5.177370548248291)

On transforme les valeurs de la colonne `recommendation` en série

In [13]:
df_recs = df_recs.sort_values(customer_index_key)
df_recs = pd.concat(
    [df_recs["recommendation"].apply(pd.Series), df_recs[customer_index_key]], axis=1
)

On convertit ensuite en DataFrame Pandas.

In [14]:
df_recs.columns = [
    "vendor_id_index",
    "rating",
    customer_index_key,
]
tmp = transformed.select(
    transformed[CUSTOMER_KEY],
    transformed[customer_index_key],
    transformed["vendor_id"],
    transformed["vendor_id_index"],
)
tmp = tmp.toPandas()

In [ ]:
dict1 = dict(zip(tmp[customer_index_key], tmp[CUSTOMER_KEY]))
dict2 = dict(zip(tmp["vendor_id_index"], tmp["vendor_id"]))
df_recs_copy = df_recs.copy()
# On affecte les valeurs réelle des CUSTOMER_KEY et vendor_id à partir de leur index
df_recs_copy.loc[:, CUSTOMER_KEY] = df_recs[customer_index_key].map(dict1)
df_recs_copy.loc[:, "vendor_id"] = df_recs["vendor_id_index"].map(dict2)
df_recs_copy = df_recs_copy.sort_values(CUSTOMER_KEY)
df_recs_copy.reset_index(drop=True, inplace=True)
new = df_recs_copy[[CUSTOMER_KEY, "vendor_id", "rating"]]
new["recommendations"] = list(zip(new.vendor_id, new.rating))

res = new[[CUSTOMER_KEY, "recommendations"]]
recommandation_df = (
    res["recommendations"].groupby([res[CUSTOMER_KEY]]).apply(list).reset_index()
)
recommandation_df[CUSTOMER_KEY] = recommandation_df[CUSTOMER_KEY].astype(str)
recommandation_df = recommandation_df.explode("recommendations")

# On génère une dataframe sous forme de liste de couples vendeur/client avec la note calculée pour chacun
recommandation_df["recommanded_vendor"] = recommandation_df["recommendations"].apply(
    lambda x: x[0]
)
recommandation_df["rating"] = recommandation_df["recommendations"].apply(lambda x: x[1])
recommandation_df = recommandation_df.drop(["recommendations"], axis=1)

# On plafonne les notes calculées à 5
recommandation_df["rating"] = recommandation_df["rating"].apply(
    lambda x: 5 if x >= 5 else x
)

# On introduit le LOC NUM
recommandation_df.sort_values(by="rating", ascending=False).head()
recommandation_df.describe()
split_col = lambda s: s.split(" X ")

recommandation_df["CID x LOC_NUM"] = recommandation_df["CID x LOC_NUM"].apply(split_col)
recommandation_df["customer_id"] = recommandation_df["CID x LOC_NUM"].apply(
    lambda x: x[0]
)
recommandation_df["LOCATION_NUMBER"] = recommandation_df["CID x LOC_NUM"].apply(
    lambda x: x[1]
)


recommandation_df = recommandation_df.drop("CID x LOC_NUM", axis=1)
recommandation_df = recommandation_df.reindex(
    columns=["customer_id", "LOCATION_NUMBER", "recommanded_vendor", "rating"]
)
recommandation_df.head()
recommandation_df = recommandation_df.astype({"LOCATION_NUMBER": int})

On obtient ainsi le dataframe escompté

In [51]:
recommandation_df.to_csv(os.path.join(DATA_DIRECTORY, "recommandation.csv"))
recommandation_df

     customer_id  LOCATION_NUMBER recommanded_vendor    rating
0        00HWUU3                1                265  3.998636
0        00HWUU3                1                 23  3.868816
0        00HWUU3                1                 44  3.911969
0        00HWUU3                1                115  4.119711
0        00HWUU3                1                582  3.965674
...          ...              ...                ...       ...
8071     ZZY3N0D                1                 86  4.813933
8071     ZZY3N0D                1                115  4.972408
8071     ZZY3N0D                1                 20  4.833045
8071     ZZY3N0D                1                 55  4.847807
8071     ZZY3N0D                1                 85  5.000000

[161440 rows x 4 columns]

### KMeans Clustering
Les notes prédites sont récupérée, nous souhaitons maintenant proposer des restaurants au clients de la même zone géographique. Pour cela il faut déterminer les régions de clients et faire ainsi du Kmeans Clustering.

In [19]:
# Charger votre dataframe avec les colonnes latitude et longitude (supposons que le dataframe s'appelle 'df')
# df = ...

# Sélectionner les colonnes latitude et longitude
train_locations_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "train_locations.csv"))
train_locations_df = train_locations_df.dropna()
data = train_locations_df[["latitude", "longitude"]].copy()
train_locations_df = train_locations_df.rename(
    columns={"location_number": "LOCATION_NUMBER"}
)
# Spécifier le nombre de clusters que vous souhaitez obtenir
k = 6

# Créer une instance de l'algorithme K-Means
kmeans = KMeans(n_clusters=k)

# Appliquer l'algorithme aux données
kmeans.fit(data)

# Obtenir les étiquettes de cluster pour chaque point
labels = kmeans.labels_

# Ajouter les étiquettes de cluster à votre dataframe
train_locations_df["cluster_label"] = labels.copy()

train_locations_df.head()

/home/bastien/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,customer_id,LOCATION_NUMBER,location_type,latitude,longitude,cluster_label
3,RU43CXC,0,Home,0.100853,0.438165,0
8,PB2B28D,0,Home,2.575605,0.708270,0
9,U9YKW1T,0,Work,0.100017,0.004357,0
14,4YWW8U8,1,Home,-0.575556,0.236555,0
15,393VD80,0,Home,-0.245396,-78.561908,1

On joint en suite cela à la DataFrame de recommandation.

In [20]:
recommandation_with_cluster = pd.merge(recommandation_df, train_locations_df)

recommandation_with_cluster.head()

,customer_id,LOCATION_NUMBER,recommanded_vendor,rating,location_type,latitude,longitude,cluster_label
0,00HWUU3,1,265,3.998636,Home,-1.117296,0.103313,0
1,00HWUU3,1,23,3.868816,Home,-1.117296,0.103313,0
2,00HWUU3,1,44,3.911969,Home,-1.117296,0.103313,0
3,00HWUU3,1,115,4.119711,Home,-1.117296,0.103313,0
4,00HWUU3,1,582,3.965674,Home,-1.117296,0.103313,0

On a fixé nos classes de localisation, il faut donc ensuite être en capacité d'évaluer l'appartenance d'une localisation à une région, pour cela on applique la classification **KNN** avec le même `k` que nous nous sommes fixés pour le **KMeans Clustering**

In [21]:
X_train = recommandation_with_cluster[["latitude", "longitude"]]
y_train = recommandation_with_cluster["cluster_label"]

knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=6)

Affectation des label de cluster aux vendeurs

In [22]:
vendors_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "vendors.csv"))
vendors_df["cluster_label"] = knn.predict(vendors_df[["latitude", "longitude"]])

# Phase de génération de test

In [23]:
test_locations_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "test_locations.csv"))
test_locations_df = test_locations_df.dropna()
test_locations_df.head()

   customer_id  location_number location_type  latitude  longitude
1      0JP29SK                0          Home  0.278709 -78.623847
2      0JP29SK                1          Home  0.124485 -78.605621
7      0JP29SK                6          Home  0.123710   0.457748
9      D1CUMM9                0          Home -0.090105 -78.580260
10     D1CUMM9                1          Home -0.460103 -78.536533

Prédiction de l'appartenance des nouvaux clients de tests aux clusters.

In [24]:
test_locations_df["cluster_label"] = knn.predict(
    test_locations_df[["latitude", "longitude"]]
)

In [25]:
test_locations_df.head()

,customer_id,location_number,location_type,latitude,longitude,cluster_label
1,0JP29SK,0,Home,0.278709,-78.623847,1
2,0JP29SK,1,Home,0.124485,-78.605621,1
7,0JP29SK,6,Home,0.123710,0.457748,0
9,D1CUMM9,0,Home,-0.090105,-78.580260,1
10,D1CUMM9,1,Home,-0.460103,-78.536533,1

Faire en sorte de recommander selon le cluster des `customer_id`:

In [54]:
from functools import partial


def get_restaurant_suggestion(
    test_locations_df, cluster_label, recommandation_with_cluster, min_rating=3.9
):
    """Fonction qui fait une liste de suggestion des meilleurs restaurants selon le cluster"""
    df = recommandation_with_cluster[
        (recommandation_with_cluster["cluster_label"] == cluster_label)
    ]
    df = df.groupby("recommanded_vendor")[["rating"]].mean()
    df = df[df["rating"] >= min_rating].sort_values("rating", ascending=False)
    df = df.reset_index()
    df["recommanded_vendor"] = df["recommanded_vendor"].astype(int)
    return df.values[:5]


suggestions_func = partial(
    get_restaurant_suggestion,
    test_locations_df=test_locations_df,
    recommandation_with_cluster=recommandation_with_cluster,
)

suggest_by_cluster = lambda row: suggestions_func(cluster_label=row["cluster_label"])
suggestions_func(cluster_label=1)

array([[398.        ,   4.08236933],
       [195.        ,   4.02809029],
       [ 78.        ,   4.0101285 ],
       [843.        ,   3.95645619],
       [575.        ,   3.9325707 ]])

In [ ]:
test_locations_df["recommandations_list"] = test_locations_df.apply(
    suggest_by_cluster, axis=1
)
test_locations_df = test_locations_df.explode("recommandations_list")
test_locations_df["vendor_id"] = test_locations_df["recommandations_list"].apply(
    lambda x: x[0]
)
test_locations_df["vendor_id"] = test_locations_df["vendor_id"].astype(int)

On formate la dataframe pour la submission

In [32]:
test_locations_df["CID X LOC_NUM X VENDOR"] = (
    test_locations_df["customer_id"]
    + " X "
    + test_locations_df["location_number"].astype(str)
    + " X "
    + test_locations_df["vendor_id"].astype(int).astype(str)
)
test_locations_df["target"] = 1
submission_df = test_locations_df[["CID X LOC_NUM X VENDOR", "target"]]

On fait en sorte de pouvoir soumettre toutes les données à l'aide du fichier `SampleSubmission.csv` et on sauvegarde nos tests dans `Submission.csv`

In [18]:
sample_df = pd.read_csv(os.path.join(DATA_DIRECTORY, "SampleSubmission.csv"))
sample_df = sample_df.drop("target", axis=1)
df_merged = pd.merge(sample_df, submission_df, how="left").fillna(0)
df_merged["target"] = df_merged["target"].astype(int)
df_merged.to_csv(os.path.join(DATA_DIRECTORY, "Submission.csv"), index=False)